development:
  mailer_domain:   'localhost:3000'
  mailer_address:  'smtp.mail.ru'
  mailer_sender:   'mail@mail.com'
  mailer_password: '123456789'

  db_name: products_catalog_dev
  db_host: localhost

test:
  db_name: products_catalog_test

production:
  db_name: products_catalog_prod