- if flash[:added]
  .alert.alert-success{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{'aria-hidden' => 'true'}
    =flash[:added]
- if flash[:removed]
  .alert.alert-warning{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{'aria-hidden' => 'true'}
    =flash[:removed]