%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Catalog', categories_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Login'
        %li
          = link_to 'Sign up'
